{% extends "base.html" %}
{% block titulo %} SISTEMA DE REGISTRO Y LOGIN {% endblock %} 
{% block contenido %}
<div class="container">
    <a href="/" type="button" class="btn btn-dark my-4 float-right">VOLVER INICIO</a>
    <h1 class="text-center py-4">LOGEARSE</h1>

    <div class="col-5">
        <form action="" method="POST">
            {% csrf_token %}

            <label class="form-label">Email</label>
            <input type="email" class="form-control" name="email">

            <label class="form-label">Password</label>
            <input type="password" class="form-control" name="password">


            <button type="submit" class="btn btn-primary my-3">INGRESAR</button>
        </form>
    </div>
</div>
{% endblock %}